/*
Pq do "clear:both"?
Fazer funcionar o a:hover.
*/

img {
    display: block;
}

h1.index {
    color:red;
    text-align: center;
    border: 0.6rem groove darkred
}

h2, h3, h4, h5, h6{
    display: none;
}


/*
Para colocar o traço em cima do texto, porém não gostei da aparência

p {
    text-decoration: overline #ccc double 0.1rem;
    text-indent: 1.5rem;
}
*/

p.maiusculo {
    text-align: center;
    letter-spacing: 0.5rem;
    line-height: 1.0rem;
    word-spacing: 0.5rem;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0.15rem 0.15rem 0.15rem red;
}

a{
    text-align: center;
}

a:link, a:active {
    text-decoration: none;
    color: red;
}

a:visited{
    text-decoration: none;
    color: darkred;
}

a:hover{
    font: 20px Arial, sans-serif;
    color: purple;
    text-transform: uppercase; 
}

body ul li{
    color: darkred;
}

body ol li{
    color: darkred;
}

footer {
    clear: both;
    /*Escolhi não usar o no-repeat*/
    background: darkred url("../img/gumballkrt.png") left bottom;
    height: 1rem;
}

h1.page2 {
    color: gold;
    border: dashed;
    text-align: center;
}

p.ppage2 {
    color: rgb(182, 182, 29);
}

a.apage2 {
    color: rgb(175, 127, 37)
}

main.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem
}

main.flexbox {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main.flexbox article{
    background-color: slateblue;
    margin: 1rem;
    padding: 2rem;
}